<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email | encode_email }}">{{ site.email }}</a></li>
              {%- if site.gpg_fingerprint -%}
              <li><small><strong>GnuPG Fingerprint:</strong> {{ site.gpg_fingerprint }}</small></li>
              {%- endif -%}
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <p>
      <small>
        Copyright (c) {{ site.time | date: "%Y" }} — {{ site.author }}. <em>"A no ser que se indique explícitamente lo contrario, todo el contenido de este sitio web se encuentra sujeto bajo los términos de la licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES" target="_blank">Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional (CC BY-SA 4.0 International)</a>".</em>
      </small>
    </p>

  </div>

</footer>
