---
layout: default
---
<h1>Artículos relacionados con la {%- if page.type contains 'category' -%} &nbsp;categoría&nbsp; {%- else -%} &nbsp;etiqueta&nbsp; {%- endif -%} «{{ page.title }}»</h1>
<ul class="posts">
  {%- for post in page.posts -%}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {%- endfor -%}
</ul>
