---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {%- if page.categories -%}
      {%- for category in page.categories -%}
      <a href="/categoria/{{ category }}" title="Categorizado como: '{{ category }}'"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#folder' | relative_url }}"></use></svg> <span style="margin-right: 1rem;">{{ category | escape }}</span></a>
      {%- endfor -%}
    {%- endif -%}
    {%- if page.tags -%}
      {%- for tag in page.tags -%}
        <a href="/etiqueta/{{ tag }}" title="Etiquetado como: '{{ tag }}'"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#tag' | relative_url }}"></use></svg> <span style="margin-right: 1rem;">{{ tag | escape }}</span></a>
      {%- endfor -%}
    {%- endif -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
